.shadow-gradient {
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .shadow-gradient::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
    border-radius: inherit;
    pointer-events: none;
  }

.backgroundimage{
    background-image: url("/img/bg2.png");
    background-repeat: no-repeat;
    background-position: right;
    width: fit-content;
}
.backgroundtransparent{
    background: transparent;
   
}
.backgroundfancy{
    border-radius: 20% 41% 21% 45% / 19% 45% 22% 41% ;
}
.inputborderfancy{
    border-radius: 10% 10% 10% 20% / 10% 10% 10% 20% ;
}